<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <p><strong>Ваш город</strong></p>
        <p><input maxlength="25" size="40" value="" name="city"></p>
        <p><strong>Ваш возраст</strong></p>
        <p><input maxlength="25" size="40" value="" name="age"></p>
        <button type="submit">Сохранить</button>
    </form>
   
</body>
</html>