<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <p><strong>Имя</strong></p>
        <p><input maxlength="25" size="40" value="" name="name"></p>
        <p><strong>Возраст</strong></p>
        <p><input maxlength="25" size="40" value="{{age}}" name="age"></p>
        <p><strong>Город</strong></p>
        <p><input maxlength="25" size="40" value="{{city}}" name="city"></p>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>