{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 задание</title>
</head>
<body>
    <form method="GET" action="{% url 'home' %}" id="searchform">
        <input class="searchfield" id="searchbox" name="query" type="text" value="" placeholder="Search..."/>    
        <button type="submit">Search</button>
    </form><br><br>

    {% for phone in phones%}
    <div class="product-item">
        <img src="{{phone.photo_link}}">
        <div class="product-list">
          <h3>{{phone.producer}} {{phone.model}}</h3>
            <span class="price">Расширение экрана: {{phone.height}}x{{phone.width}}</span>
            <a href="{{phone.get_absolute_url}}" class="button">Редактировать</a>
        </div>
    {% endfor %}
    
    <form action="{% url  'home' %}" method="post">
        {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Создать</button>
    </form>
</body>
</html>